window.location.href = "<%= @download_url %>";
#document.location.reload();
#$("#message").html(""); // ←ここで「しばらくおまちください」のメッセージを消す
document.getElementById("loading").style.display = "none";
# document.getElementById("links").innerHTML = "";
# document.getElementById("msg").innerHTML = "<p>しばらくお待ちください</p>";
# document.collect_form.submit();
# document.collect_form.term.disabled = true;
# document.collect_form.account_mail.disabled = true;
# document.collect_form.account_password.disabled = true;
# document.collect_form.exec_btn.disabled = true;
