<% require_relative './term_names' %>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="default.css">
    <title>Amazon履歴</title>
  </head>
  <body>
    <h1>注文履歴</h1>
    <h2>注文履歴が取得できました。</h2>
    <p id="links"><a href="index.html">メニューに戻る</a></p>
    <p id="msg">注文履歴を取得しました。</p>
    <hr>
    
  </body>
</html>