<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="default.css">
    <title>Amazon履歴</title>
  </head>
  <body>
    <h1>注文履歴</h1>
    <h2>注文履歴が変換できました。</h2>
    <p id="links"><a href="excel_trans.erb">変換一覧に戻る</a> | <a href="index.html">メニューに戻る</a></p>
    <p id="msg">下記の注文履歴を取得しました。</p>
    <hr>
    <table>
      <tr>
        <th>取得期間</th>
        <td><%= $term_names[term] %> (<%= term %>) </td>
      </tr>
      <tr>
        <th>保存ファイル名</th>
        <td><%= file %></td>
      </tr>
      <tr>
        <th>Excelファイル名</th>
        <td><%= exfile %></td>
      </tr>
    </table>
    <hr>
  </body>
</html>