<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="default.css">
    <title>Amazon履歴</title>
  </head>
  <body>
    <h1>注文履歴</h1>
    <h2>処理メニュー</h2>
    <p>処理を選択してください。</p>
    <hr>
    <table>
      <tr><td><a href="collect.erb">注文履歴の取得</a></td></tr>
      <% #<tr><td><a href="list.erb">取得済み注文履歴一覧</a></td></tr> %>
      <% #<tr><td><a href="delete.erb">注文履歴の削除</a></td></tr> %>
      <% #<tr><td><a href="excel_trans.erb">取得済み注文履歴のExcel変換</a></td></tr> %>
      <tr><td>取得済み注文履歴のExcel変換（予定）</td></tr>
    </table>
    <hr>
  </body>
</html>