<%# encoding: utf-8 %>
<% require_relative './term_names' %>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="default.css">
    <title>Amazon履歴</title>
  </head>
  <body>
    <h1>注文履歴</h1>
    <h2 class="alert">注文履歴は削除できませんでした。</h2>
    <p id="links"><a href="delete.erb">削除画面に戻る</a> | <a href="index.html">メニューに戻る</a></p>
    <p id="msg">発生したエラー:<%= errormsg %></p>
    <hr>
    <table>
      <tr>
        <th>取得期間</th>
        <td><%= $term_names[term] %>(<%= term %>)</td>
      </tr>
      <tr>
        <th>ファイル名</th>
        <td><%= file %></td>
      </tr>
    </table>
    <hr>
  </body>
</html>